[submodule "consul-k8s"]
	path = consul-k8s
	url = https://github.com/hashicorp/consul-k8s
[submodule "consul-dataplane"]
	path = consul-dataplane
	url = https://github.com/hashicorp/consul-dataplane
[submodule "consul-ce"]
	path = consul-ce
	url = https://github.com/hashicorp/consul
